#bio {
	text-align: center;
	font-size: 2.6em;
	color: skyblue;
	margin-top: 200px;
  position:relative;
}

#vanta {
	width: 100vw;
	height: 100vh;
	top:0;
	left:0;
	position:absolute;
}

a {
	text-decoration: none;
	color: burlywood;
	font-size: 0.4em;
}